@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}


.title-reset {
    padding: 0;
    margin: 0;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    padding: 6px 100px 14px 30px;
    background-color: #000000;
    color: white;
    font-family: Jost;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: inline-block;
    margin-bottom: 60px;
}


/* Header */


.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.header__list {
    margin-right: auto;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
}

.header__link {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;

    line-height: 20px;
    color: black;
    position: relative;
}

.header__link::after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    content: "";
    position: absolute;
    background-color: #000000;
    height: 0;
    width: 0;
    left: 0;
    bottom: -2px;
    height: 2px;
    border-radius: 5px;
}

.header__link:hover::after{
    width: 100%;
}

.header__link:active {
    color: #E2B013;
}

.header__link:active::after{
    background-color: #E2B013;
}

.header__link:focus {
    color: #E2B013;
}

.header__link:focus::after {
    background-color: #E2B013;
}




.header__link:focus::after {
    width: 100%;
}

.header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.header__btn {
    padding: 15px 26px;
    background-color: #000000;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.header__btn:hover {
    background-color: #ffc918;
    color: rgb(255, 255, 255);
}

.header__btn:active{
    background-color:#E2B013;

}

.header__btn:focus {
    background-color: #bce213;
}

.burger {
    width: 70px;
    height: 50px;
    display: none;
    border: none;
    background-color: transparent;
    padding: 0;
}


.burger__line {
    position: relative;
    display: inline-block;
    height: 7px;
    width: 100%;
    border-radius: 10px;
    background-color: #000000;
    margin-top: 20px;
}

.burger__line::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    background-color: #000000;
    height: 7px;
    width: 100%;
    border-radius: 10px;
}

.burger__line::after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 7px;
    width: 100%;
    border-radius: 10px;
    left: 0;
    bottom: -20px;
}


/* Hero */


.hero {
    padding-bottom: 117px;
}

.hero__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.hero__mark {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #E2B013;
    padding: 0 4px;
    color: white;
}


.hero__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 96px;
    line-height: 86.4px;
    margin: 40px 0 46px;
    max-width: 604px;
}


.hero__title-mini {
    font-family: Jost;
    font-weight: 400;
    font-size: 50px;
    line-height: 25.2px;
    margin-top: 40px;
    display: block;

}

.hero__text {
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 26px;
    line-height: 33.8px;
    margin-bottom: 87px;
    max-width: 627px;
}

.hero__functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 66px;
}

.hero__function {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 81px;

}

.hero__info {
    font-family: Jost;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.3px;
    text-align: center;
    text-transform: uppercase;

}


/* About */

.about {
    padding-top: 130px;
    padding-bottom: 65px;
}

.about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}

.about__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}



.about__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 96px;
    line-height: 86.4px;
    margin-bottom: 40px;
}


.about__text {
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 22px;
    line-height: 27.5px;
    margin-bottom: 30px;
    max-width: 609px;
}

.about__link {
    padding: 9px 16px;
    padding-right: 32px;
    margin: 0;
    background-color: #000000;
    color: white;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}


.about__link:hover {
    background-color: #ffc918;
    color: rgb(255, 255, 255);
}

.about__link:active{
    background-color:#E2B013;

}

.about__link:focus {
    background-color: #bce213;
}

.about__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.about__group:not(:last-child) {
    margin-bottom: 8px;
}



/* Collection */
.collection {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 46px;
    -moz-column-gap: 46px;
    column-gap: 46px;
    row-gap: 78px;
}

.collection__block {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.04);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.collection__block:hover {
    -webkit-transform: scale(110%);
        -ms-transform: scale(110%);
            transform: scale(110%);
}
.collection__block:active {
    color: white;
    background-color:#ffc918;
}


.collection__block:focus {
    border-radius: 30px;
    background-color: #ffc918;
}

.collection__block-title {
    margin-top: 17px;
    padding-left: 15px;
    font-family: Jost;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.5px;
    text-transform: uppercase;
    color: black;

}

/* Landing */

.landing {
    padding: 100px 0;
}

.landing__collection {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);

}

/* Company */

.company {
    padding: 100px 0;
}


.company__collection {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);

}

/* CMS */

.cms {
    padding: 100px 0;
}


.cms__collection {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
}

/* Utility */


.utility {
    padding: 100px 0;
}

.utility__collection {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[2];
}


/* Footer */

.footer {
    padding: 60px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.footer__title {
    font-family: Jost;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

}

.footer__form {
    margin-top: 30px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 500px;
    border: 1px solid rgba(226, 225, 223, 1);
    margin-bottom: 200px;

}

.footer__input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 5px 10px;
}

.footer__btn {
    width: 120px;
    height: 40px;
    background-color: black;
    padding: 5px 10px;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer__btn:hover {
    background-color: #ffc918;
    color: rgb(255, 255, 255);
}

.footer__btn:active{
    background-color:#E2B013;

}

.footer__btn:focus {
    background-color: #bce213;
}

.footer__top {
    padding-bottom: 130px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 200px 16px 200px 16px 200px;
    grid-template-columns: 1fr 200px 200px 200px;
    gap: 16px;
    margin-bottom: 16px;
}

.footer__item {
    margin-top: 13px;

}

.footer__links:nth-child(2) {
    margin-top: 30px;
}

.footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.footer__link {
    font-family: Jost;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
    position: relative;
}

.footer__link::after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    content: "";
    position: absolute;
    background-color: #000000;
    height: 0;
    width: 0;
    left: 0;
    bottom: -2px;
    border-radius: 5px;
    height: 1px;    
}

.footer__link:hover::after{
    width: 100%;
}

.footer__link:active {
    color: #E2B013;
}

.footer__link:active::after {
    background-color: #E2B013;
}

.footer__link:focus {
    color:#E2B013;
}

.footer__link:focus::after {
    background-color: #E2B013;
    width: 100%;
}


.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__info {
    font-family: Jost;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}

.footer__info-color {
    color: rgba(226, 176, 19, 1);

}


@media(max-width: 1200px){

    .hero__title,
    .about__title {
        font-size: 75px;
    }

    
    .hero__text {
        
        margin-bottom: 40px;
    }

    /* .hero__functions {
        gap: 40px;
    } */

    .footer__top {
        -ms-grid-columns: 1fr auto auto auto;
        grid-template-columns: 1fr auto auto auto;
    }

    
}


@media (max-width: 1000px) {
    .hero__img {
        width: 50%;
    }

    .hero__functions {
        gap: 30px;
    }

    .footer__top {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }

    .footer__column:first-child {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .footer__form {
        margin-bottom: 30px;
    }
}

@media (max-width:850px){

    .header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 15px;
    }

    .header__list {
        display: none;
    }

    .burger {
        display: block;
    }

    .burger__line.active {
        background-color: transparent;
    }

    .burger__line.active::before{
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: -7px;
    }
    
    .burger__line.active::after {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: -7px;
    }


    
    


    .header__list.active {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: rgb(223, 231, 231);
        padding: 30px;
        top: 104px;
        right: 0;
        width: 100%;
        margin: 0;
        gap: 20px;

    }

    .header__link {
        font-size: 25px;
    }

    .header__btns {
        display: none;
    }

    .header__nav {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }



    .hero__row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
    }

    .hero__mark {
        display: none;
    }

    .hero__title,
    .hero__text{
        text-align: center  ;
    }

    .hero__functions {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .hero__img {
        width: 80%;
    }

    .about {
        padding-top: 60px;
    }

    .about__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .about__content {
        padding: 0 50px;
    }
    

    .section-title{
        font-size: 30px;
    }

    .collection {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
        row-gap: 40px;
    }

    .company__collection {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 540px){

    .hero__title,
    .about__title {
        font-size: 55px;
    }

    .hero__text,
    .about__text {
        font-size: 20px;
    }

    .hero__title-mini {
        font-size: 40px;
    }

    .about__content {
        padding: 0;
    }

    .about__group {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .section-title {
        font-size: 25px;
    }

    .collection__block {
        padding: 15px;
    }

    .collection__block-title {
        font-size: 20px;
    }

    .footer__form {
        width: unset;
    }
}

@media (max-width: 420px){
    .hero__functions {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    }


}
